.container
{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 1140px;
}

.box
{
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	width: 100%;
	height: 400px;

}

.one
{
	background-color: pink;
	/*background-color: #a5c6d9;*/
}
.two
{
	background-color: red;
	/*background-color: #78518e;*/
}
.three
{
	display: none;
	background-color: #cbcdd4;
}
.four
{
	display: none;
	background-color: #807d82;
}

@media screen and (min-width: 641px) 
{

.container{ 
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	max-width: 1140px;
	}

.one {
	background-color: #a5c6d9; }
.two {
	background-color: #78518e; }
.three {
	background-color: #cbcdd4;
	display: inline-flex; }
.four {
	background-color: #807d82;
	display: inline-flex; }

}
